/* src/app/login/login.component.css */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Light grey background */
  padding: 20px;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Maximum width for the form */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #1c672f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #145a1e;
}

a {
  margin-top: 20px;
  color: #1c672f;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: #145a1e;
}

p {
  margin-top: 20px;
  color: #1c672f;
}

.signup {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.error-message {
  margin-top: 20px;
  color: red;
  font-weight: bold;
}
