<div class="cart">
  <div class="cart-header">
    <h2>Your Cart</h2>
  </div>
  <div class="cart-content">
    <div *ngFor="let item of cartItems" class="item">
      {{ item["name"] }} - Price: {{ item["price"] }} - Quantity:
      {{ item["quantity"] }}
    </div>
    <div class="item">Total Price: {{ cartService.getToatlPrice() }}</div>
    <button (click)="placeOrder()">Place Order</button>
    <span *ngIf="message.length !== 0">{{ message }}</span>
    <span *ngIf="errorMessage.length !== 0">{{ errorMessage }}</span>
  </div>
</div>
