<div class="top-nav-bar">
  <div class="logo">My E-Commerce</div>
  <div class="search-bar">
    <input
      type="text"
      placeholder="Search products..."
      (input)="onSearch($event)"
    />
    <fa-icon class="search-icon" [icon]="faSearch"></fa-icon>
  </div>
  <div class="menu">
    <a routerLink="/home">
      <fa-icon [icon]="faHouse"></fa-icon>
      Home
    </a>
    <a (click)="cartService.toggelCart()">
      <fa-icon [icon]="faShoppingCart"></fa-icon>
      Cart
    </a>
    <a (click)="authService.logout()">
      <fa-icon [icon]="faRightFromBracket"></fa-icon>
      Logout
    </a>
  </div>
</div>
